body {
    background-color: #C0C0C0;
}
.container-texto-2{
display: inline-block;
	padding-left: 100px;
	font-family: 'Poiret One', cursive;
	color:#8B8B8B;
	font-size: 30px;
	text-align: justify; 
	 margin-right: 100px;
	 float: left;
    justify-content: center;
    align-items: right;
    flex-wrap: wrap;
    padding-top: 110px;
}
.container-texto-3{
 	display: inline-block;
	padding-left: 100px;
	font-family: 'Poiret One', cursive;
	color:#8B8B8B;
	font-size: 30px;
	text-align: justify; 
	 
	 margin-right: 100px;
	 float: right;
    justify-content: center;
    align-items: right;
    flex-wrap: wrap;
    padding-top: 110px;
}
.logo {
	margin-top: 10px;
	margin-left: 50px;
}
.banner{
	display: block;
	 margin-left: auto;
    margin-right: auto;
	width: 1100px;
	padding-top: 50px;
}



#menu-hamburguer{
    width: 45px;
    position: absolute;
    right: 5%;
    top: 1%;
}

#checkbox-menu{
  
  opacity: 0;
}

label{
  cursor: pointer;
  position: relative;
  display: block;
  height: 22px;
  width: 30px;
}

label span{
  position: absolute;
  display: block;
  height: 5px;
  width: 100%;
  border-radius: 30px;
  background: #8B8B8B;
  transition: 0.25s ease-in-out;
}

label span:nth-child(1){
  top: 0;
}

label span:nth-child(2){
  top: 8px;
}

label span:nth-child(3){
  top: 16px;
}

#checkbox-menu:checked + label span:nth-child(1){
  transform: rotate(-45deg);
  top: 8px;
}

#checkbox-menu:checked + label span:nth-child(2){
  opacity: 0;
}

#checkbox-menu:checked + label span:nth-child(3){
  transform: rotate(45deg);
  top:8px;
}
.rodape{
	height: 200px;
	background-color: #626261;
	margin-top: 730px;
}
.logo2{
	padding-top: 80px;
	padding-left: 50px;
}
.rodape2{
	height: 200px;
	background-color: #626261;
	margin-top: 1070px;
}
.rodape3{
	height: 200px;
	background-color: #626261;
	margin-top: 250px;
}